* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* config elemento "a" basica */
a {
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}


/* body config basica */
body {
  font-family: 'Georgia', serif;
  background-color: #f0e8e8;
  line-height: 1.6;
  transition: background-color 0.6s ease;
}


/* linhas de divisão de tema e assunto */
.hr{
  opacity: 3%;
  margin-top: 80px;
}


/* barra marrom no topo */
.barra-topo {
  width: 100%;
  height: 30px;
  background-color: #b57642;
}


/* header visual */
header {
  background-color: #b57642;
  padding: 2rem 1rem 4rem;
  text-align: center;
}


/* Titulo da pag */
.titulo {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}


/* menu nav */
.menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.menu a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #8a4f23;
}

.menu .ativo {
  color: #8a4f23;
}
/* fim menu nav */


/* efeito reveal */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
/* fim menu reveal */


/* subtitulo da pag após menu  */
.subTitulo{
  text-align: center;
  margin-top: 100px;
}


/* img da logo e txt ao lado dela */
.blocoLogo {
  display: flex;
  align-items: center;
}

.imgLogo{
  width: 380px;
  margin-left: 100px;
}

.txtLogo{
  text-align: center;
  margin-left: 200px;

}
/* fim do primeiro bloco */


.blocoValores{

}